body {
  background-image: url(girl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
}

li a:hover {
  background-color: rgb(151, 101, 43);
}
li a .active {
  background-color: rgb(163, 119, 119);
}
